<h1>マイページ</h1>

<p><%= button_to '新規投稿', new_post_path, method: :get %></p>
<p><%= link_to '投稿一覧', posts_path %></p>


<p><%= link_to "ユーザー一覧", users_path %></p>
<br>
<td><%= button_to '登録情報編集', edit_user_path(current_user), method: :get %></td>

<p><%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete} %></p>